/backups
/config/alexsmobs
/config/apotheosis
/config/ars_nouveau
/config/biomesoplenty
/config/byg
/config/jei
/config/travel_anchors
/config/*.toml
/config/*.json
/config/*.snbt
/config/*.cfg
/crash-reports
/defaultconfigs
/local
/logs
/patchouli_books
/resourcepacks
/saves
/schematics
/tconplanner
/structurize
/usercache.json
/usernamecache.json
/patchouli_data.json
/options.txt
/minecraftinstance.json